body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 8vh);
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  height: 128px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 128px;
}

.square:hover {
  background-color: #3cbfeb;
  color: white;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  margin-left: 20px;
}

.history-item {
  margin-top: 20px;
}

.history-button {
  display: block;
  margin-top: 20px;
  background-color: #3cbfeb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.history-button:hover {
  background-color: #34a8cf;
}

.player-selector {
  margin-left: 20px;
}

.game-button {
  display: block;
  margin-top: 20px;
  background-color: #3cbfeb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.game-button:hover {
  background-color: #34a8cf;
}

@media (max-width: 768px) {
  .game {
    flex-direction: column;
  }

  .square {
    font-size: 34px;
    height: 64px;
    width: 64px;
  }
}
